@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "Bellefair",serif;
}

.row_flex{
    width: 100%;
    margin: 0 auto;
    font-family: 'Alata', sans-serif;
    position:absolute;
    top: 10px;

}
.list-item{
    list-style: none;
    background: rgba(255,255,255,0.04);
    -webkit-backdrop-filter: blur(81.5485px);
    backdrop-filter: blur(81.5485px);
    padding: 20px;
    
}
.list-items{
    display:inline-block;
    padding: 0 2rem;
    text-transform: uppercase;
}

.header{
    background-image: url(./assets/destination/background-destination-desktop.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
}

.nav_flex{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.nav_link{
    text-decoration: none;
    font-size: .8rem;
    color:hsl(0, 0%, 100%);
}
._link{
    text-decoration: none;
    font-size: 1.3rem;
    color:hsl(0, 0%, 100%);
}
.line{
    width: 300px;
    height:1px;
    background-color: grey;
}

.nav_logo{
    margin-right: auto;
    width: 2rem;
    margin-left: 1rem;

}
h1{
    color:white;
}
span{
    color:grey;
    padding-right: 10px;
    font-size: 32px;
}

.contain{
    padding: 5rem 3rem 0 2rem;
    padding-bottom: 3rem;
    color:white;
}
.texts{
    padding: 2rem 1rem 2rem 6rem;
    padding-right: 70px;
}
.texts h1{
    font-family: "Bellefair",serif;
    font-size: 90px;
    text-transform: uppercase;
    letter-spacing: 20px;
    color:white;
}

.texts p{
    font-size: 20px;
    letter-spacing: .2px;
    line-height: 1.7;
    padding-bottom: 10px;
    
}
.image{
    padding-top:20px;

}
.lists{
    list-style: none;
    /* padding: 20px; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    
}
.list{
    display:inline-block;
    padding: 0 2rem;
    text-transform: uppercase;
    
}

section{
    display:flex;
}



.footer-right{
    display:flex;
    flex-direction: column;
  
}

footer{
    padding-top: 10px;
    display:flex;
    justify-content: space-between;
}
.image img{
    width: 400px;
    height: 400px;
    
}

footer h3{
    font-size: 35px;
}